<link rel="stylesheet" href="~/Content/HomePage.css" />
<div class="container">
    <div class="row">
        <div class="col-md-2 home-page-col" id="home_first_col">
            <div class="row" id="home_first_col_row1">
                <div id="home_div_image">
                    
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="col-md-8 home-page-col" id="home_second_col">
            <div class="row" id="add_post_textarea">
                <textarea class="form-control" rows="5" id="textarea_homepage" placeholder="What is on your mind?"></textarea>
            </div> 
            <div class="row" id="add_post_btn">
                <button type="button" class="btn btn-default pull-right" id="button_post">Post</button>
            </div>
        </div>
        <div class="col-md-2 home-page-col" id="home_third_col">

        </div>
    </div>
</div>